.contact-section {
  position: absolute;
  top: 2rem;
  right: 3rem;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: max-content;

  .contact-item {
    width: 24px;
    height: 24px;
    padding: .5rem;
    margin: 0 .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}