.landing {
  //padding-left: 0 !important;
  //padding-right: 0 !important;
  background-color: $white;
  #landing_bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 25%;
  }
  color: $black;
  text-align: center;

  .content {
    .role {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
    }
  }
}