.projects {
  min-height: 75vh;
  &-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; // Adjust alignment as needed
    max-width: 100%;
    gap: 1.5rem;
    width: 100%;
    .hover-this {
      transition: all 0.3s ease;
      cursor: pointer;

      span {
        pointer-event: none;
        transition: transform 0.1s linear;
      }
    }


    .project {
      margin: 10px; // Add margin to create spacing between projects
      position: relative;

      &-title {
        text-align: center;
      }

      &-hook {
        text-align: center;
      }

      .tags {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        .tag {
          font-family: "Julius Sans One", sans-serif;
          color: $red;
          text-transform: uppercase;
        }
      }
    }

  }
}