.cursor {
  z-index: 50;
  pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: $white;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.3s ease;
}

.hover-this:hover {
  cursor: pointer;
}

.hover-this:hover ~ .cursor {
  transform: translate(-50%, -50%) scale(8);
}