h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 200;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 200;
  text-transform: uppercase;
}

h3 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
}

h4 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

h5 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.5px;
}

h6 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.35px;
}

p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 1.35px;
}